.App-header {
  background-color: #952aed;
  padding: 20px;
  color: white;
  text-align: left;
  }
  
  .App-content {
  background-color: #ece91e;
  padding: 20px;
  text-align: left;
  }
  
  img {
  border-radius: 50%;
  margin-bottom: 5px;
  max-height: 110px;
  }